body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: Black;
    color: white;
    text-align: center;
    margin-bottom: -4px;
}

header img {
    width: 900px;
}

@media only screen and (max-width: 900px) {
    header img {
        width: 100%;
    }
}

nav {
    background-color: rgb(211, 165, 73);
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown {
    float: left;
    overflow: hidden;

}

.dropdown .dropbtn {
    font-size: 19px;
    border: none;
    outline: none;
    color: white;
    padding: 20px 22px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
    background-color: rgb(222, 222, 222);
    padding: 2rem;
    border-radius: 5px;

}

.gallery img {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: transform 0.2s;
    cursor: pointer;
}

.gallery img:hover {
    transform: scale(1.1);
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: white;
}

section {
    padding: 20px;
}

.Gallary-header h2 {
    font-family: 'SourceSansPro-SemiBold', sans-serif;
    text-align: center;
    font-size: min(8vw, 56px);
    opacity: 0.8;
    padding: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    color: white;
    background-color: #333;

}